<html>

<head>
    <title>MCWeibo Admin</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/main.css" />
</head>

<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Header -->
        <header id="header">
            <h1><a href="javascript:location.reload();">MCWeiBo</a></h1>
            <nav class="links">
                <ul>
                    <li><a href="/">首页</a></li>
                    <li><a href="/water">灌水闲聊</a></li>
                    <li><a href="/news">新闻资讯</a></li>
                    <li><a href="/notice">微博公告</a></li>
                    <li><a href="/about">关于我们</a></li>
                </ul>
            </nav>
            <nav class="main">
                <ul>
                    <li class="search">
                        <a class="fa-search" href="#search">搜索</a>
                        <form id="search" method="get" action="#">
                            <input type="text" name="query" placeholder="Search" />
                        </form>
                    </li>
                    <li class="menu">
                        <a class="fa-bars" href="#menu">菜单</a>
                    </li>
                </ul>
            </nav>
        </header>

        <!-- Menu -->
        <section id="menu">

            <!-- Search -->
            <section>
                <form class="search" method="get" action="#">
                    <input type="text" name="query" placeholder="Search" />
                </form>
            </section>

            <!-- Links -->
            <section>
                <ul class="links">
                    <li>
                        <a href="/water">
                            <h3>灌水闲聊</h3>
                            <p>我有故事和酒，你有满汉全席吗</p>
                        </a>
                    </li>
                    <li>
                        <a href="/news">
                            <h3>新闻资讯</h3>
                            <p>获取minecraft的最新消息</p>
                        </a>
                    </li>
                    <li>
                        <a href="/notice">
                            <h3>微博公告</h3>
                            <p>卖报啦卖报啦！三块钱一份，十块钱三份~</p>
                        </a>
                    </li>
                    <li>
                        <a href="/about">
                            <h3>关于我们</h3>
                            <p>看看项目组</p>
                        </a>
                    </li>
                </ul>
            </section>

            <!-- Actions -->
            <section>
                <ul class="actions stacked">
                    <li><a href="/login" class="button large fit">Log In</a></li>
                </ul>
            </section>

        </section>
        <div id="main">

            <article class="post">
                <header>
                    <div class="title">
                        <h2><a href="#">欢迎来到后台</a></h2>
                        <p>hi,<%- name%></p>
                    </div>
                    <div class="meta">
                        <a href="#" class="author"><span class="name"><%- name%></span><img src="images/users/<%- name%>.jpg" alt="" /></a>
                    </div>
                </header>

                <section>
                    <h1>发帖管理</h1>
                    <h4>灌水闲聊</h4>
                    <div class="table-wrapper">
                        <table class="alt">
                            <thead>
                                <tr>
                                    <th>标题</th>
                                    <th>发布者</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <%- water_pages%>
                            </tbody>
                        </table>
                    </div>
                    <h4>新闻资讯</h4>
                    <div class="table-wrapper">
                        <table class="alt">
                            <thead>
                                <tr>
                                    <th>标题</th>
                                    <th>发布者</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <%- news_pages%>
                            </tbody>
                        </table>
                    </div>
                    <h4>论坛公告</h4>
                    <div class="table-wrapper">
                        <table class="alt">
                            <thead>
                                <tr>
                                    <th>标题</th>
                                    <th>发布者</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <%- notices_pages%>
                            </tbody>
                        </table>
                    </div>
                </section>
                <section>
                    <h1>访问管理</h1>
                    <div class="table-wrapper">
                        <table class="alt">
                            <thead>
                                <tr>
                                    <th>访问IP</th>
                                    <th>次数</th>
                                </tr>
                            </thead>
                            <tbody>
                                <%- ips%>
                            </tbody>
                        </table>
                    </div>
                </section>
                <section>
                    <h2>快捷发帖</h2>
                    <form method="post" action="/api/publish?admin_key=<%- admin_key%>">
                        <div class="row gtr-uniform">
                            <div class="col-6 col-12-xsmall">
                                <input type="text" name="title" id="demo-name" value="" placeholder="标题" />
                            </div>
                            <div class="col-6 col-12-xsmall">
                                <input type="text" name="sub_title" id="demo-name" value="" placeholder="副标题" />
                            </div>
                            <div class="col-12">
                                <select name="type" id="demo-category">
                                    <option value="0">- 板块 -</option>
                                    <option value="1">灌水闲聊</option>
                                    <option value="2">新闻资讯</option>
                                    <option value="3">微博公告</option>
                                </select>
                            </div>
                            <div class="col-12">
                                <textarea name="text" id="demo-message" placeholder="Enter your message" rows="6"></textarea>
                            </div>
                            <div class="col-12">
                                <ul class="actions">
                                    <li><input type="submit" value="发布" /></li>
                                    <li><input type="reset" value="清空" /></li>
                                </ul>
                            </div>
                        </div>
                    </form>
                </section>

            </article>
        </div>


        <section id="sidebar">

            <!-- Intro -->
            <section id="intro">
                <a href="/" class="logo"><img src="images/logo.jpg" alt="" /></a>
                <header>
                    <h2>MCWeiBo</h2>
                    <p>基岩版微博开放平台</a></p>
                </header>
            </section>

            <section>
                <h2>在线用户</h2>
                <div class="mini-posts">

                   <%- onlines%>
                        

                </div>
            </section>

            <!-- About -->
            <section class="blurb">
                <h2>关于本站</h2>
                <p>这里是MC微博开放平台，您可以在MC中发微博，并对接到本站</p>
                <ul class="actions">
                    <li><a href="/about" class="button">查看更多</a></li>
                </ul>
            </section>

            <!-- Footer -->
            <section id="footer">
                <p class="copyright">&copy; 2022 MCWeibo</p>
            </section>

        </section>

    </div>

    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>

</body>

</html>